.tooltip {
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
}

.legend {
    margin-left: 25%;
}

.box,
.label{
    display:inline-block;
}

.box{
  width:10px;
  height:10px;
  margin:0px 10px;
}